<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta content="{{ .Site.Author.name }}" name="author">
  <link rel="stylesheet" href="/assets/css/style.css" />
  <script src="https://kit.fontawesome.com/f4170b83c1.js" crossorigin="anonymous"></script>

  <link rel="me" href="https://github.com/gr36" />
  <link rel="me" href="https://instagram.com/_greg_morris" />
  <link rel="me" href="https://gregmorris.co.uk">
 {{ partial "opengraph.html" . }}


  <title>
      {{- block "title" . -}}
		{{- .Site.Title -}}
		{{- if and .Title (ne .Title .Site.Title) }}
		- {{ .Title }}
		{{- end -}}
      {{- end -}}
  </title>
  {{ partial "microblog_head.html" . }}
</head>
