{{ $paginator := .Paginate (.Site.Taxonomies.categories.essay) 5 }}

<div class="container">
    {{ $list := $paginator.Pages }}
	{{ range $list first 6  }}
        {{ if .Params.images}}
            {{ range first 1 .}}
                <div class="post_card" style="background: {{ . | absURL }};">
            {{ end }}
        {{ else }}
                <div class="post_card" style="background: blue;">
        {{ end }}
                    <h2 class="card_title p-name">{{ .Title }}</h2>
                    <p class="card_summery">{{ .Summery }}</p>
                </div>
    {{ end }}

</div>